---
layout: default
title: Portfolio
---

{% include sd-portfolio-page/navigation.html %}
<br />
{% include sd-portfolio-page/header.html %}
<br />
{% include sd-portfolio-page/contactInfo.html %}
<br />
{% include sd-portfolio-page/summaryLong.html %}
<br />
{% include sd-portfolio-page/skillSet.html %}
<br />
{% include sd-portfolio-page/experience.html %}
<br />
{% include sd-portfolio-page/projects.html %}
<br />
{% include sd-portfolio-page/certs.html %}
<br />
{% include sd-portfolio-page/education.html %}
<br />
{% include sd-portfolio-page/communityService.html %}
<br />
{% include sd-portfolio-page/awards.html %}
<br />