---
layout: default
title: Portfolio
permalink: /portfolio
---

{% include pm-portfolio-page/navigation.html %}
<br />
{% include pm-portfolio-page/header.html %}
<br />
{% include pm-portfolio-page/contactInfo.html %}
<br />
{% include pm-portfolio-page/summaryShort.html %}
<br />
{% include pm-portfolio-page/skillSet.html %}
<br />
{% include pm-portfolio-page/experience.html %}
<br />
{% include pm-portfolio-page/education.html %}
<br />
{% include pm-portfolio-page/communityService.html %}
<br />
{% include pm-portfolio-page/awards.html %}
<br />
{% include pm-portfolio-page/projects.html %}
<br />
{% include pm-portfolio-page/certs.html %}
<br />