<div class="awards-block outer-shell">
    <!-- * Awards and Honors Section -->
    <div class="section-head">
        <h2 class="category-title"><a id="awards-and-honors" href="#awards-and-honors" class="anchor-link">Awards &amp;
                Honors</a>
        </h2>
    </div>
    <!-- * Entry 1 -->
    <div class="awards-entry">
        <div class="entry-info">
            <div class="entry-title">William T. Hornaday Award for Environmental Conservation</div>
            <div class="date">
                <span class="end">2011</span>
            </div>
        </div>
        <div class="sub-title">Boy Scouts of America</div>
        <p class="entry-desc">
            Silver Badge
        </p>
    </div>
    <!-- * Entry 2 -->
    <div class="awards-entry">
        <div class="entry-info">
            <div class="entry-title">Eagle Scout</div>
            <div class="date">
                <span class="end">2011</span>
            </div>
        </div>
        <div class="sub-title">Boy Scouts of America</div>
        <p class="entry-desc">
            <!-- TODO add description-->
        </p>
    </div>
</div>