<div class="awards-block">
    <!-- * Awards and Honors Section -->
    <h2 class="section-title">Awards &amp; Honors</h2>
    <!-- * Entry 1 -->
    <div class="awards-entry">
        <div class="entry-info">
            <div class="entry-title">William T. Hornaday Award for Environmental Conservation</div>
            <div class="sub-title">Boy Scouts of America</div>
            <div class="date">
                <span class="end">2011</span>
            </div>
        </div>
        <p class="entry-desc">
            Silver Badge
        </p>
    </div>
    <!-- * Entry 2 -->
    <div class="awards-entry">
        <div class="entry-info">
            <div class="entry-title">Eagle Scout</div>
            <div class="sub-title">Boy Scouts of America</div>
            <div class="date">
                <span class="end">2011</span>
            </div>
        </div>
        <p class="entry-desc">
            <!-- TODO add description-->
        </p>
    </div>
</div>