<div class="certs-block outer-shell">
    <!-- * Certifications Section -->
    <div class="section-head">
        <h2 class="category-title"><a id="certifications" href="#certifications" class="anchor-link">Certifications</a>
        </h2>
    </div>
    <!-- * Entry 1 -->
    <div class="cert-entry">
        <div class="entry-info">
            <div class="entry-title">Google IT Automation with Python</div>
            <div class="date">
                <span class="end">Jul. 2021</span>
            </div>
        </div>
        <div class="sub-title">Google Cloud</div>
        <p class="entry-desc">
            Online non-credit Professional Certificate authorized by Google and offered through Coursera
        </p>
        <ul class="entry-desc highlight-list">
            <li>Automating Real-World Tasks with Python</li>
            <li>Using Python to Interact with the Operating System</li>
            <li>Troubleshooting and Debugging Techniques</li>
        </ul>
        <div class="cert-info">
            <div class="cert-button">
                <img class="google-icon" src="assets/svg/google-brands-solid.svg">
                <a href="https://www.coursera.org/account/accomplishments/specialization/LTPLSJNZEA8P" target="_blank">
                    <span class="icon-coursera"></span>
                    Show Certificate
                </a>
            </div>
            <div class="cert-id">LTPLSJNZEA8P</div>
        </div>
    </div>
    <!-- * Entry 2 -->
    <div class="cert-entry">
        <div class="entry-info">
            <div class="entry-title">Scientific Computing with Python</div>
            <div class="date">
                <span class="end">Oct. 2021</span>
            </div>
        </div>
        <div class="sub-title">freeCodeCamp</div>
        <p class="entry-desc">
            FreeCodeCamp Developer Certification
        </p>
        <div class="cert-info">
            <div class="cert-button">
                <img class="freecodecamp-icon" src="assets/svg/free-code-camp-brands-solid.svg">
                <a href="https://freecodecamp.org/certification/zljett/scientific-computing-with-python-v7"
                    target="_blank">
                    <span class="icon-freecodecamp"></span>
                    Show Certificate
                </a>
            </div>
            <div class="cert-id">zljett-scwp</div>
        </div>
    </div>
    <!-- * Entry 3 -->
    <div class="cert-entry">
        <div class="entry-info">
            <div class="entry-title">Preparing for Google Cloud Certification: Cloud Engineer</div>

            <div class="date">
                <span class="end">Dec. 2021</span>
            </div>
        </div>
        <div class="sub-title">Google</div>
        <p class="entry-desc">
            Online non-credit Professional Certificate authorized by Google and offered through Coursera
        </p>
        <ul class="entry-desc highlight-list">
            <li>Essential Google Cloud Infrastructure: Core Services</li>
            <li>Elastic Google Cloud Infrastructure: Scaling and Automation</li>
            <li>Architecting with Google Kubernetes Engine: Foundations</li>
        </ul>
        <div class="cert-info">
            <div class="cert-button">
                <img class="google-icon" src="assets/svg/google-brands-solid.svg">
                <a href="https://www.coursera.org/account/accomplishments/specialization/23D7RQW57S2G" target="_blank">
                    <span class="icon-coursera"></span>
                    Show Certificate
                </a>
            </div>
            <div class="cert-id">23D7RQW57S2G</div>
        </div>
    </div>
</div>