<div class="community-service-block outer-shell">
    <!-- * Community Service Section -->
    <div class="section-head">
        <h2 class="category-title"><a id="community-service" href="#community-service" class="anchor-link">Community
                Service</a>
        </h2>
    </div>
    <!-- * Entry 1 -->
    <div class="community-service-entry">
        <div class="entry-info">
            <div class="entry-title">Trustee</div>
            <div class="date">
                <span class="start">2014</span>
                <span class="end">Present</span>
            </div>
        </div>
        <div class="sub-title">Swedish Foundation, Inc.</div>
        <p class="entry-desc">
            The Swedish Foundation is a small non-profit serving the greater Seattle area since 1922.
            The core focus of the organization is helping members of the local families with school
            supplies, late bills, and anywhere else someone needs a hand up.
        </p>
    </div>
</div>