<div class="community-service-block">
    <!-- * Community Service Section -->
    <h2 class="section-title">Community Service</h2>
    <!-- * Entry 1 -->
    <div class="community-service-entry">
        <div class="entry-info">
            <div class="entry-title">Trustee</div>
            <div class="sub-title">Swedish Foundation, Inc.</div>
            <div class="date">
                <span class="start">2014</span>
                <span class="end">Present</span>
            </div>
        </div>
        <p class="entry-desc">
            The Swedish Foundation is a small non-profit serving the greater Seattle area since 1922. The core focus
            of the organization is helping members of the local community with schools supplies, late bills, and
            anywhere else someone needs a hand up.
        </p>
    </div>
</div>