<div class="contact-info-block outer-shell">
    <!-- * Contact Info Section -->
    <!-- * Entry 1 -->
    <div class="contact-info-entry">
        <div class="contact-entry-button">
            <img class="contact-icon" src="assets/svg/envelope-solid.svg">
            <!-- Intentionally did not include "target = _blank" as that can have unwanted side effects -->
            <a href="mailto:zachariah.jett@outlook.com"><span class="icon-envelope"></span>Email</a>
        </div>
    </div>
    <!-- * Entry 2 -->
    <div class="contact-info-entry">
        <div class="contact-entry-button">
            <img class="contact-icon" src="assets/svg/github-brands-solid.svg">
            <a href="https://github.com/ZLJett" target="_blank"><span class="icon-github"></span>ZLJett</a>
        </div>
    </div>
    <!-- * Entry 3 -->
    <div class="contact-info-entry">
        <div class="contact-entry-button">
            <img class="contact-icon" src="assets/svg/linkedin-brands-solid.svg">
            <a href="https://www.linkedin.com/in/zachariahjett/" target="_blank"><span
                    class="icon-linkedin"></span>Zachariah Jett</a>
        </div>
    </div>
</div>