<div class="education-block outer-shell">
    <!-- * Education Section -->
    <div class="section-head">
        <h2 class="category-title"><a id="education" href="#education" class="anchor-link">Education</a>
        </h2>
    </div>
    <!-- * Entry 1 -->
    <div class="education-entry">
        <div class="entry-info">
            <div class="entry-title">Master of Arts &ndash; History</div>
            <div class="date">
                <span class="end">Dec. 2020</span>
            </div>
        </div>
        <div class="sub-title">Wright State University &ndash; Fairborn, OH</div>
        <p class="entry-desc">
            Outstanding Graduate Student &ndash; 2021
        </p>
        <p class="entry-desc">
            Presented research papers at two conferences &ndash; 2017
        </p>
        <ul class="entry-desc education-highlight">
            <li>"Negotiating Absolutism: Cooperation and Conscription in the Swedish Fiscal-Military State,
                1683-1685," presented to Wright State Graduate Research Symposium, Fairborn, Ohio, April 2017</li>
            <li>"Negotiating for Efficiency: Conscription, Adaptation, and Reform in the Swedish Empire," presented
                to University of Toledo History Colloquium, Toledo, Ohio, November 2017</li>
        </ul>
        <div class="education-buttons">
            <div class="education-button">
                <img class="education-icon" src="assets/svg/link-solid.svg">
                <a href="http://rave.ohiolink.edu/etdc/view?acc_num=wright1605200125756442" target="_blank">
                    <span class="icon-link"></span>
                    Master's Thesis
                </a>
            </div>
        </div>
    </div>
    <!-- * Entry 2 -->
    <div class="education-entry">
        <div class="entry-info">
            <div class="entry-title">Bachelors of Arts &ndash; History</div>
            <div class="date">
                <span class="end">Aug. 2015</span>
            </div>
        </div>
        <div class="sub-title">University of Washington &ndash; Seattle, WA</div>
        <p class="entry-desc">
            Minors: Scandinavian Area Studies, Swedish Language
        </p>
        <p class="entry-desc">
            Dean&rsquo;s List: Winter, Spring &ndash; 2014, Autumn, Winter, Spring &ndash; 2015
        </p>
        <p class="entry-desc">
            Study abroad at Uppsala International Summer Session (UISS) &ndash; Summer 2015
        </p>
        <ul class="entry-desc education-highlight">
            <li>Received Foreign Language and Area Studies (FLAS) Fellowship</li>
        </ul>
    </div>
    <!-- * Entry 3 -->
    <div class="education-entry">
        <div class="entry-info">
            <div class="entry-title">Associate of Arts and Sciences &ndash; Oceanography</div>
            <div class="date">
                <span class="end">Jun. 2012</span>
            </div>
        </div>
        <div class="sub-title">Everett Community College &ndash; Everett, WA</div>
        <p class="entry-desc">
            Attended Everett Community College's Ocean Research College Academy (O.R.C.A.)
        </p>
    </div>
</div>