<div class="experience-block">
    <!-- * Professional Background Section -->
    <h2 class="section-title">Professional Background</h2>
    <!-- * Entry 1 -->
    <div class="experience-entry">
        <div class="entry-info">
            <div class="entry-title">Graduate Assistant</div>
            <div class="sub-title">Wright State University &ndash; Fairborn, OH</div>
            <div class="date">
                <span class="start">2018</span>
                <span class="end">2019</span>
            </div>
        </div>
        <p class="entry-desc">
            <!-- TODO add description-->
        </p>
    </div>
    <!-- * Entry 2 -->
    <div class="experience-entry">
        <div class="entry-info">
            <div class="entry-title">Assistant-Director of Communication</div>
            <div class="sub-title">Cedar Apartments Student Association &ndash; University of Washington</div>
            <div class="date">
                <span class="start">2014</span>
                <span class="end">2015</span>
            </div>
        </div>
        <p class="entry-desc">
            Produced all official communications for the Student Association at the University of Washington's Cedar
            Apartments.
        </p>
    </div>
</div>