<div class="experience-block outer-shell">
    <!-- * Professional Background Section -->
    <div class="section-head">
        <h2 class="category-title"><a id="professional-background" href="#professional-background"
                class="anchor-link">Professional Background</a>
        </h2>
    </div>
    <!-- * Entry 1 -->
    <div class="experience-entry">
        <div class="entry-info">
            <div class="entry-title">Graduate Assistant</div>
            <div class="date">
                <span class="start">2018</span>
                <span class="end">2019</span>
            </div>
        </div>
        <div class="sub-title">Wright State University &ndash; Fairborn, OH</div>
        <p class="entry-desc">
            Acted as a teaching assistant on several undergraduate classes. Duties included: preparing and grading
            tests, assisting in the paperwork involved in running a university course, and holding office hours to meet
            with students and help them with their coursework.
        </p>
    </div>
    <!-- * Entry 2 -->
    <div class="experience-entry">
        <div class="entry-info">
            <div class="entry-title">Assistant-Director of Communication</div>
            <div class="date">
                <span class="start">2014</span>
                <span class="end">2015</span>
            </div>
        </div>
        <div class="sub-title">Cedar Apartments Student Association &ndash; University of Washington</div>
        <p class="entry-desc">
            Produced all official communications for the Student Association at the University of Washington's Cedar
            Apartments.
        </p>
    </div>
</div>