<div class="projects-block">
    <!-- * Projects Section -->
    <h2 class="section-title">Projects</h2>
    <!-- * Java Projects -->
    <div class="java-projects">
        <h3 class="section-title">Java Projects</h3>
        <div class="project-entry">
            <!-- * Entry 1 -->
            <div class="entry-info">
                <div class="entry-title">Financial Trade Message Router</div>
                <div class="takeaways">
                    <!-- TODO fill in later-->
                </div>
                <div class="date">
                    <span class="end">Jan. 2024</span>
                </div>
            </div>
            <p class="entry-desc">
                A financial trade routing system built for a practical development exercise designed by a senior
                developer who worked in that industry. It was built in a Java/Camel based tech stack and supported:
                XSLT based XML conversion, JPA/Hibernate based database management, JSON based application
                configuration, and a JUnit based testing suite. As part of the exercise, I was wholly responsible
                for designing the routing application, including the evaluation, selection, and integration of 3rd
                party technologies.
            </p>
            <div class="projects-button">
                <a href="https://github.com/ZLJett/trade-message-router" target="_blank">
                    <span class="icon-github"></span>
                    Source
                </a>
            </div>
        </div>
    </div>
    <!-- * Web-Development Projects -->
    <div class="web-dev-projects">
        <h3 class="section-title">Web-Development Projects</h3>
        <!-- * Entry 2 -->
        <div class="project-entry">
            <div class="entry-info">
                <div class="entry-title">Calculator Webpage</div>
                <div class="takeaways">
                    <!-- TODO fill in later-->
                </div>
                <div class="date">
                    <span class="end">Aug. 2022</span>
                </div>
            </div>
            <p class="entry-desc">
                My implementation of the 'Project: Calculator' from The Odin Project's 'Foundations' course, with all
                'extra credit' assignments implemented a well as a history tracker.
            </p>
            <p class="entry-desc">
                Features: Keyboard inputs, built-in error handling, and history tracker
            </p>
            <div class="projects-button">
                <a href="https://www.theodinproject.com/lessons/foundations-calculator" target="_blank">
                    <span class="icon-odin-project"></span> <!-- TODO remove/add icon class-->
                    Project Description
                </a>
            </div>
            <div class="projects-button">
                <a href="https://github.com/ZLJett/calculator-page" target="_blank">
                    <span class="icon-github"></span>
                    Source
                </a>
            </div>
        </div>
        <!-- * Entry 3 -->
        <div class="project-entry">
            <div class="entry-info">
                <div class="entry-title">Etch-a-Sketch Webpage</div>
                <div class="takeaways">
                    <!-- TODO fill in later-->
                </div>
                <div class="date">
                    <span class="end">Jul. 2022</span>
                </div>
            </div>
            <p class="entry-desc">
                My implementation of the 'Project: Etch-a-Sketch' from The Odin Project's 'Foundations' course, with
                additional functionality to allow user to input 'pixel' count of Etch-a-Sketch display. Also, has been
                careful styled to look like a classic Etch-a-Sketch.
            </p>
            <p class="entry-desc">
                Features: Styled like classic Etch-a-Sketch, user can set &lsquo;pixel&rsquo; count
            </p>
            <div class="projects-button">
                <a href="https://www.theodinproject.com/lessons/foundations-etch-a-sketch" target="_blank">
                    <span class="icon-odin-project"></span> <!-- TODO remove/add icon class-->
                    Project Description
                </a>
            </div>
            <div class="projects-button">
                <a href="https://github.com/ZLJett/Etch-a-Sketch" target="_blank">
                    <span class="icon-github"></span>
                    Source
                </a>
            </div>
        </div>
        <!-- * Entry 4 -->
        <div class="project-entry">
            <div class="entry-info">
                <div class="entry-title">Rock Paper Scissors Webpage</div>
                <div class="takeaways">
                    <!-- TODO fill in later-->
                </div>
                <div class="date">
                    <span class="end">Jun. 2022</span>
                </div>
            </div>
            <p class="entry-desc">
                My implementation of the 'Project: Rock Paper Scissors' from The Odin Project's 'Foundations' course,
                with additional functionality to display game on webpage with images of player choices.
            </p>
            <p class="entry-desc">
                Features: Displays images of player inputs with delay to keep surprise
            </p>
            <div class="projects-button">
                <a href="https://www.theodinproject.com/lessons/foundations-rock-paper-scissors" target="_blank">
                    <span class="icon-odin-project"></span> <!-- TODO remove/add icon class-->
                    Project Description
                </a>
            </div>
            <div class="projects-button">
                <a href="https://github.com/ZLJett/UI-rock-paper-scissors" target="_blank">
                    <span class="icon-github"></span>
                    Source
                </a>
            </div>
        </div>
    </div>
    <!-- * Python Projects -->
    <div class="python-projects">
        <h3 class="section-title">Python Projects</h3>
        <!-- * Entry 5 -->
        <div class="project-entry">
            <div class="entry-info">
                <div class="entry-title">Budgeting App Project</div>
                <div class="takeaways">
                    <!-- TODO fill in later-->
                </div>
                <div class="date">
                    <span class="end">Oct. 2021</span>
                </div>
            </div>
            <p class="entry-desc">
                My implementation of the 'Build a Budget App Project' from freeCodeCamp's 'Scientific Computing with
                Python' course.
            </p>
            <p class="entry-desc">
                Features: Tracks debts and credits to account, displays percentage spent by category as bar chart
            </p>
            <div class="projects-button">
                <a href="https://www.freecodecamp.org/learn/scientific-computing-with-python/build-a-budget-app-project/build-a-budget-app-project"
                    target="_blank">
                    <span class="icon-freeCodeCamp"></span> <!-- TODO remove/add icon class-->
                    Project Description
                </a>
            </div>
            <div class="projects-button">
                <a href="https://github.com/ZLJett/Budget-App-Project" target="_blank">
                    <span class="icon-github"></span>
                    Source
                </a>
            </div>
        </div>
    </div>
</div>