<div class="skill-set-block outer-shell">
    <!-- * Skill Set Section -->
    <div class="section-head">
        <h2 class="category-title"><a id="skill-set" href="#skill-set" class="anchor-link">Skill Set</a></h2>
    </div>
    <!-- * Entry 1 -->
    <div class="skill-set-entry">
        <div class="skill-category">Disciplines</div>
        <div class="skill-list">
            Web-Development, Data Transformation, Testing, Agile/Sprint Planning
        </div>
    </div>
    <!-- * Entry 2 -->
    <div class="skill-set-entry">
        <div class="skill-category">Languages</div>
        <div class="skill-list">
            Python, Java, C, C#, JavaScript, HTML, CSS, Bash Scripting
        </div>
    </div>
    <!-- * Entry 3 -->
    <div class="skill-set-entry">
        <div class="skill-category">Environments</div>
        <div class="skill-list">
            Linux, Windows, Visual Studio, VSCode, IntelliJ, Oracle VM VirtualBox, Compiler Explorer, Google Cloud
            Platform
        </div>
    </div>
    <!-- * Entry 4 -->
    <div class="skill-set-entry">
        <div class="skill-category">Tools</div>
        <div class="skill-list">
            Git, Maven, Spring Boot, Apache Camel, JPA, Hibernate, H2 SQL, Saxon XSLT, Jackson XML/JSON, JUnit5
        </div>
    </div>
</div>