<div class="summary-block outer-shell">
    <!-- * Summary Section -->
    <div class="section-head">
        <h2 class="category-title"><a id="summary" href="#summary" class="anchor-link">Summary</a>
        </h2>
    </div>
    <!-- * Entry 1 -->
    <div class="summary-entry">
        <p class="entry-desc">
            After completing my M.A. in history, a post-graduation lull presented the perfect opportunity to accept a
            friend's dare to try programming. A week of learning Python was all it took to ignite my passion, which has
            continued to fuel my pursuit of coding.
        </p>
        <p class="entry-desc">
            As a graduate student, my mentor once said to me “All a good student needs is a library and the occasional
            kick in the seat of the pants.” Inspired by this advice, I dedicated myself to mastering not only history
            and programming but also the essential skill of independent learning.
        </p>
        <p class="entry-desc">
            While learning how to program, I have developed a passion for taking code apart to see how it works. My
            greatest satisfaction in programming comes from the challenge of learning new solutions: from digging into
            different algorithms and heuristics to figure out how to apply them to something completely different or to
            understanding how code works on the most minute level. This quest for deeper understanding has sparked a
            fascination with using tools like Compiler Explorer to delve into the intricacies of compiler optimizations
            and their impact on my C code.
        </p>
        <p class="entry-desc">
            Now I am seeking a position where I can get feedback from experienced developers, improve my knowledge with
            real-world projects, and learn creative engineering solutions to real challenges.
        </p>
    </div>
</div>