html {
    scroll-behavior: smooth;
    scroll-padding: 4rem;
}

html,
body {
    font-size: 14pt;
    overflow-x: hidden;
    font-family: "Lusitana", serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
    overflow: hidden;
    background-color: rgb(243, 231, 208);
}

p {
    //font-size: 25px;
    font-size: 20px;
}

nav {
    display: flex;
    flex-direction: row;
    //max-width: 800px;
    max-width: 1100px;
    width: 100%;
    padding: 24px 0 18px 0;
    background-color: rgb(243, 231, 208);
    position: fixed;
    top: 0;
}

nav>a {
    display: block;
    font-size: 18pt;
    padding: 3px 9px;
    border: 2px solid black;
    border-radius: 4px;
    margin-right: 8px;
    text-decoration: none;
    color: black;
}

nav>a:hover {
    background-color: hsl(0, 80%, 18%);
    border: 2px solid rgb(243, 231, 208);
    color: rgb(243, 231, 208);
}

.to-top {
    font-size: 18pt;
    padding: 3px 9px;
    border: 2px solid hsl(0, 80%, 18%);
    border-radius: 4px;
    margin-right: 8px;
    text-decoration: none;
    color: hsl(0, 80%, 18%);
    // Fade in animation
    animation: appear 1s linear infinite;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -7s);
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

@keyframes appear {
    0% {
        opacity: 0;
        cursor: default;
    }

    20% {
        opacity: 0;
    }

    40% {
        opacity: 0.8;
        cursor: pointer;
    }

    100% {
        opacity: 1;
    }
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    padding-top: 80px;
    margin-bottom: 15em;
}

.currentPage {
    background-color: black;
    color: rgb(243, 231, 208);
}

h1 {
    max-width: 800px;
    width: 100%;
    margin: 4ex 0 3ex 0;
    padding: 0;
}

h2 {
    margin: 2ex 0 2.5ex 0;
    padding: 0;
}

h3 {
    margin: 3ex 0 2ex 0;
    padding: 0;
}

p {
    //margin: 0ex 0 6ex 0;
    margin: 3ex 0 3ex 0;
    padding: 0;
    line-height: 1.3;
}

.outer-shell {
    max-width: 800px;
    width: 100%;
    //margin-bottom: 30px;
    margin-bottom: 20px;
}

.pro-title {
    font-family: "JetBrains Mono", monospace;
}

.contact-info-block {
    display: flex;
    flex-direction: row;
    margin-top: -1em;
    margin-left: 2em;
}

.contact-info-entry {
    flex: 0 1 auto;
    margin-right: 24px;
}

.contact-entry-button {
    display: flex;
    flex-direction: row;
    border-radius: 4px;
    margin-top: 6px;
    margin-right: 8px;
}

.contact-main-icon {
    width: 1.05em;
    height: 1.05em;
}

.contact-anchor {
    display: flex;
    flex-direction: row;
    border-radius: 4px;
    margin-top: 6px;
    margin-right: 8px;
    transition: border-bottom 0.15s, color 0.15s;
    text-decoration: none;
}

.contact-button-text {
    color: hsl(0, 80%, 45%);
    text-decoration: none;
    border-bottom: 2pt solid hsl(0, 80%, 18%);
    border-radius: 2px;
}

.contact-anchor:hover .contact-button-text {
    border-bottom: none;
    border-radius: 2px;
}

.contact-entry-button>a:hover {
    border-bottom: 2pt solid hsl(0, 80%, 18%);
    border-radius: 2px;
}


.contact-entry-button>a:hover .contact-button-text {
    color: black;
}

.skill-set-entry {
    display: flex;
    flex-direction: row;
    margin-bottom: 12px;
}

.skill-category {
    flex: 0 0 12ch;
}

.skill-list {
    border-left: 2px solid black;
    border-radius: 2px;
    padding-left: 0.5ch;
    line-height: 1.4;
}

.anchor-link {
    transition: border-bottom 0.15s, color 0.15s;
}

.anchor-link::before {
    content: "#";
    display: inline-block;
    font-size: 18pt;
    line-height: 1;
    margin-left: -.8em;
    text-decoration: none;
    visibility: hidden;
    width: .8em;
    box-sizing: border-box;
}

.anchor-link:hover::before {
    visibility: visible;
}

.anchor-link:hover {
    color: hsl(0, 80%, 45%);
    //text-decoration: underline hsl(0, 80%, 18%) 2pt;
    text-decoration: none;
    border-bottom: 2pt solid hsl(0, 80%, 18%);
    border-radius: 2px;
}

h2>a:link {
    text-decoration: none;
    color: black;
}

h2>a:visited {
    color: black;
}

.project-section-title {
    text-decoration: underline;
}

.project-entry,
.cert-entry,
.education-entry,
.experience-entry,
.community-service-entry,
.awards-entry {
    margin-bottom: 12ex;
}

.entry-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.entry-title {
    font-weight: bold;
    font-family: "JetBrains Mono", monospace;
}

.sub-title {
    margin-left: 4ch;
}

.sub-title::before {
    content: "@";
    font-family: "JetBrains Mono", monospace;
}

.entry-desc {
    margin-left: 1ch;
    margin-bottom: 2ex;
    padding-left: .75ch;
    border-left: 2px solid black;
    border-radius: 2px;
}

.projects-buttons {
    display: flex;
    flex-direction: row;
}

.projects-button {
    display: block;
    padding: 3px 9px;
    border: 2px solid black;
    border-radius: 4px;
    margin-top: 6px;
    margin-right: 8px;
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: row;
    transition: background-color 0.3s, color 0.3s;
}

.main-icon {
    width: 1.05em;
    height: 1.05em;
}

.hidden-icon {
    display: none;
    width: 1.05em;
    height: 1.05em;
}

.projects-button>a:link {
    text-decoration: none;
    color: black;
}

.projects-button>a:visited {
    color: black;
}

.projects-button:hover {
    background-color: hsl(0, 80%, 18%);
    border: 2px solid rgb(243, 231, 208);
}

.projects-button:hover .project-button-text {
    color: rgb(243, 231, 208);
}

.projects-button:hover .main-icon {
    display: none;
}

.projects-button:hover .hidden-icon {
    display: block;
}

.cert-info {
    display: flex;
    flex-direction: row;
}

.cert-button {
    display: block;
    padding: 3px 9px;
    border: 2px solid black;
    border-radius: 4px;
    margin-top: 6px;
    margin-right: 8px;
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: row;
    transition: background-color 0.3s, color 0.3s;
}

.cert-button>a:link {
    text-decoration: none;
    color: black;
}

.cert-button>a:visited {
    color: black;
}

.cert-button:hover {
    background-color: hsl(0, 80%, 18%);
    border: 2px solid rgb(243, 231, 208);
}

.cert-button:hover .cert-button-text {
    color: rgb(243, 231, 208);
}

.cert-button:hover .main-icon {
    display: none;
}

.cert-button:hover .hidden-icon {
    display: block;
}

.cert-button>img.google-icon {
    width: 0.85em;
    height: 0.85em;
    margin-top: 0.7ex;
}

.cert-id {
    display: block;
    padding: 3px 9px;
    margin-top: 7px;
    margin-right: 8px;
    text-decoration: none;
    color: black;
}

.cert-id::before {
    content: "id#";
    font-family: "JetBrains Mono", monospace;
    margin-right: 4px;
}

.highlight-list {
    margin-top: 3ex;
    margin-left: 1.5ch;
    border-left: 0px;
    list-style: "-  ";
    list-style-position: inside;
    line-height: 1.4;
}

.highlight-list:before {
    content: "Highlights";
    font-family: "JetBrains Mono", monospace;
    margin-left: -.8em;
}

.education-highlight {
    margin-top: -0.1ex;
    margin-left: 2.7ch;
    border-left: 0px;
    list-style: "|  ";
    line-height: 1.4;
}

.education-highlight>li {
    margin-top: 4px;
}

.start::after {
    content: " to";
    margin: 0 0.7ch;
    font-size: 12pt;
}

.education-buttons {
    display: flex;
    flex-direction: row;
}

.education-button {
    display: block;
    padding: 3px 9px;
    border: 2px solid black;
    border-radius: 4px;
    margin-top: 6px;
    margin-right: 8px;
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: row;
    transition: background-color 0.3s, color 0.3s;
}

.education-button>a:link {
    text-decoration: none;
    color: black;
}

.education-button>a:visited {
    color: black;
}

.education-button>img {
    width: 1.05em;
    height: 1.05em;
}

.education-button:hover {
    background-color: hsl(0, 80%, 18%);
    border: 2px solid rgb(243, 231, 208);
}

.education-button:hover .education-button-text {
    color: rgb(243, 231, 208);
}

.education-button:hover .main-icon {
    display: none;
}

.education-button:hover .hidden-icon {
    display: block;
}

@media screen and (max-width: 320px) {

    html,
    body {
        font-size: 9pt;
    }

    p {
        font-size: 13px;
    }

    h1 {
        max-width: 306px;
        width: 100%;
        margin: 0 0 3ex 0;
    }

    nav {
        display: flex;
        flex-wrap: wrap;
        //justify-content: center;
        row-gap: 2px;
        top: -1em;
        margin-left: 14px;
        padding-top: 21px;
        padding-bottom: 10px;
    }

    nav>a {
        font-size: 10pt;
        // padding: 3px 9px;
        // margin-right: 8px;
        // width: 78px;
    }

    .prof-background {
        width: 153px;
    }

    .to-top {
        font-size: 10pt;
        padding: 6px 6px;
        text-align: center;
        margin-right: 0px;
        position: fixed;
        bottom: 20px;
        right: 20px;
        z-index: 99;
        background-color: hsl(0, 80%, 18%);
        color: rgb(243, 231, 208);
        // Fade in animation 
        animation: appear 1s linear infinite;
        animation-play-state: paused;
        animation-delay: calc(var(--scroll) * -30s);
        animation-iteration-count: 1;
        animation-fill-mode: both;
    }

    @keyframes appear {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    .to-top:hover {
        color: black;
    }

    .anchor-link::before {
        // Adjust where section links stop in relation to section title
        // i.e. stops clipping
        line-height: 2.5;
        margin-bottom: -2em;
        // This is off the side of the screen but allows above items to work
        content: "|";
    }

    .main-content {
        margin-bottom: 3em;
    }

    .outer-shell {
        max-width: 300px;
        width: 100%;
        margin-bottom: -8px;
    }

    .contact-info-entry {
        flex: 0 0 auto;
        margin-right: 24px;
    }

    .contact-entry-button {
        margin-right: 0px;
    }

    .contact-anchor {
        margin-right: 0px;
    }

    .contact-button-text {
        font-size: 11pt;
    }

    .projects-button {
        padding: 2px 6px;
        // margin-top: 6px;
    }

    .project-button-text,
    .cert-button-text,
    .education-button-text {
        font-size: 10.5pt;
    }

    .contact-main-icon {
        width: 1.25em;
        height: 1.25em;
    }

    .main-icon {
        width: 1.15em;
        height: 1.15em;
    }

    .hidden-icon {
        width: 1.15em;
        height: 1.15em;
    }

    .cert-button>img.google-icon {
        width: 0.95em;
        height: 0.95em;
        margin-top: 0.7ex;
    }

    .freeCodeCamp-icon {
        width: 1.35em;
        height: 1.35em;
        margin-top: -0.4ex;
    }

    .cert-button>img.freeCodeCamp-icon {
        width: 1.35em;
        height: 1.35em;
        margin-top: -0.4ex;
    }
}