<div class="awards-block outer-shell">
    <!-- * Awards and Honors Section -->
    <div class="section-head">
        <h2 class="category-title"><a id="awards-and-honors" href="#awards-and-honors" class="anchor-link">Awards &amp;
                Honors</a>
        </h2>
    </div>
    <!-- * Entry 1 -->
    <div class="awards-entry">
        <div class="entry-info">
            <div class="entry-title">William T. Hornaday Award, Silver Badge </div>
            <div class="date">
                <span class="end">2011</span>
            </div>
        </div>
        <div class="sub-title">Boy Scouts of America</div>
        <p class="entry-desc">
            Recognized for outstanding contributions to environmental conservation, coordinated
            with a local environmental group and county park services to establish requirements
            for a successful salmon spawning habitat restoration initiative, encompassing site
            scouting, project planning, and resource organization.
        </p>
        <p class="entry-desc">
            Managed all project phases, including comprehensive risk assessments and mitigation planning
            (e.g., safety protocols, summer heat mitigation, equipment logistics), coordinating scheduling,
            and thorough project documentation.
        </p>
    </div>
    <!-- * Entry 2 -->
    <div class="awards-entry">
        <div class="entry-info">
            <div class="entry-title">Eagle Scout</div>
            <div class="date">
                <span class="end">2011</span>
            </div>
        </div>
        <div class="sub-title">Boy Scouts of America</div>
        <p class="entry-desc">
            Managed the complete design, construction, and installation of a children's play area awning,
            coordinating with various stakeholders to define requirements and establish project schedules.
        </p>
        <p class="entry-desc">
            Applied strong time management, facilitation, and organizational skills to effectively communicate
            with and direct a team of 12+ youth, ensuring successful project completion.
        </p>
    </div>
</div>