<div class="certs-block outer-shell">
    <!-- * Certifications Section -->
    <div class="section-head">
        <h2 class="category-title"><a id="certifications" href="#certifications" class="anchor-link">Certifications
                &amp; Courses</a>
        </h2>
    </div>
    <!-- * Entry 1 -->
    <div class="cert-entry">
        <div class="entry-info">
            <div class="entry-title">Preparing for Google Cloud Certification: Cloud Engineer</div>
            <div class="date">
                <span class="end">Dec. 2021</span>
            </div>
        </div>
        <div class="sub-title">Coursera (Google)</div>
        <p class="entry-desc">
            Online non-credit Professional Certificate authorized by Google and offered through Coursera.
        </p>
        <ul class="entry-desc highlight-list">
            <li>Application Deployment</li>
            <li>Cloud Computing</li>
            <li>Cloud Infrastructure & Storage</li>
            <li>Cloud Security</li>
            <li>Containerization (Docker)</li>
            <li>Databases (NoSQL / Relational)</li>
            <li>Google Cloud Platform (GCP)</li>
            <li>Identity and Access Management (IAM)</li>
            <li>Infrastructure as Code (IaC)</li>
            <li>Kubernetes</li>
            <li>Load Balancing</li>
            <li>Scalability / Autoscaling</li>
            <li>System Monitoring / Cloud Observability</li>
            <li>Virtual Machines</li>
        </ul>
        <div class="cert-info">
            <div>
                <a href="https://www.coursera.org/account/accomplishments/specialization/LTPLSJNZEA8P" target="_blank"
                    class="cert-button">
                    <img class="main-icon google-icon" src="assets/svg/google-brands-solid.svg">
                    <img class="hidden-icon google-icon" src="assets/svg/google-brands-solid-white.svg">
                    <span class="cert-button-text">Show Certificate</span>
                </a>
            </div>
            <div class="cert-id">23D7RQW57S2G</div>
        </div>
    </div>
    <!-- * Entry 2 -->
    <div class="cert-entry">
        <div class="entry-info">
            <div class="entry-title">Scientific Computing with Python</div>
            <div class="date">
                <span class="end">Oct. 2021</span>
            </div>
        </div>
        <div class="sub-title">freeCodeCamp</div>
        <p class="entry-desc">
            This comprehensive FreeCodeCamp Python course covered: advanced data structures,
            networking, regular expressions, relational databases (including SQLite),
            and data visualization.
        </p>
        <ul class="entry-desc highlight-list">
            <li>Data Structures (Lists, Dictionaries, Tuples)</li>
            <li>Data Visualization</li>
            <li>File I/O</li>
            <li>HTTP</li>
            <li>Object-Oriented Programming (OOP)</li>
            <li>Regular Expressions</li>
            <li>Relational Database Design</li>
            <li>SQL</li>
            <li>SQLite</li>
            <li>Web Scraping</li>
            <li>Web Services (APIs, JSON, XML)</li>
        </ul>
        <div class="cert-info">
            <div>
                <a href="https://freecodecamp.org/certification/zljett/scientific-computing-with-python-v7"
                    target="_blank" class="cert-button">
                    <img class="main-icon freeCodeCamp-icon" src="assets/svg/free-code-camp-brands-solid.svg">
                    <img class="hidden-icon freeCodeCamp-icon" src="assets/svg/free-code-camp-brands-solid-white.svg">
                    <span class="cert-button-text">Show Certificate</span>
                </a>
            </div>
            <div class="cert-id">zljett-scwp</div>
        </div>
    </div>
    <!-- * Entry 3 -->
    <div class="cert-entry">
        <div class="entry-info">
            <div class="entry-title">Google IT Automation with Python</div>
            <div class="date">
                <span class="end">Jul. 2021</span>
            </div>
        </div>
        <div class="sub-title">Coursera (Google Cloud)</div>
        <p class="entry-desc">
            Online non-credit Professional Certificate authorized by Google and offered through Coursera.
        </p>
        <ul class="entry-desc highlight-list">
            <li>Configuration Management</li>
            <li>CICD / DevOps</li>
            <li>GCP Cloud Services</li>
            <li>Git</li>
            <li>Infrastructure as Code (IaC)</li>
            <li>Puppet</li>
            <li>Python / Bash Automation Scripting</li>
            <li>RESTful APIs</li>
            <li>Test Driven Development</li>
            <li>Troubleshooting and Debugging</li>
        </ul>
        <div class="cert-info">
            <div>
                <a href="https://www.coursera.org/account/accomplishments/specialization/23D7RQW57S2G" target="_blank"
                    class="cert-button">
                    <img class="main-icon google-icon" src="assets/svg/google-brands-solid.svg">
                    <img class="hidden-icon google-icon" src="assets/svg/google-brands-solid-white.svg">
                    <span class="cert-button-text">Show Certificate</span>
                </a>
            </div>
            <div class="cert-id">LTPLSJNZEA8P</div>
        </div>
    </div>
</div>