<div class="experience-block outer-shell">
    <!-- * Professional Background Section -->
    <div class="section-head">
        <h2 class="category-title"><a id="professional-background" href="#professional-background"
                class="anchor-link">Professional Background</a>
        </h2>
    </div>
    <!-- * Entry 1 -->
    <div class="experience-entry short-experience-entry">
        <div class="entry-info">
            <div class="entry-title">Game Designer &amp; Programmer</div>
            <div class="date">
                <span class="start">Jan. 2025</span>
                <span class="end">Present</span>
            </div>
        </div>
        <div class="sub-title">The Goodship Friendship</div>
        <div class="experience-buttons">
            <div>
                <a href="https://store.steampowered.com/app/2571840/Defense_of_Nations/" target="_blank"
                    class="experience-button">
                    <img class="main-icon" src="assets/svg/steam-brands-solid.svg">
                    <img class="hidden-icon" src="assets/svg/steam-symbol-brands.svg">
                    <span class="experience-button-text">Steam Demo</span>
                </a>
            </div>
        </div>
        <p class="entry-desc">
            Built core systems and designed new content for a Unity3D game, quickly gaining fluency
            in an under-documented C# codebase and the Unity engine with limited prior experience.
        </p>
        <p class="entry-desc">
            Applied independent problem-solving to design and test complex game systems, including:
        </p>
        <ul class="entry-desc-list">
            <li class="entry-desc-list-item">
                <b>Weaponry & Combat:</b> Created new weapons and enemies with novel mechanics and retrofitted a reload
                system into core weapon logic.
            </li>
            <li class="entry-desc-list-item">
                <b>Mission Architecture:</b> Developed a new mission mechanic necessitating a comprehensive overhaul of
                all monster AI and map layouts.
            </li>
            <li class="entry-desc-list-item">
                <b>Control Schemes:</b> Expanded upon partial existing legacy code to implement full keyboard and mouse
                functionality.
            </li>
        </ul>
        <p class="entry-desc">
            Spearheaded a comprehensive overhaul of the game's health/damage balance, applying
            a methodical approach to data analysis and optimization to enhance system adaptability
            and future scalability.
        </p>
        <p class="entry-desc">
            Utilized Agile (Kanban) and Git for collaborative development, actively contributing to team
            planning and proactively shaping project design and content scope to ensure achievable deadlines
            and enhance overall product quality.
        </p>
    </div>
    <!-- * Entry 2 -->
    <div class="experience-entry">
        <div class="entry-info">
            <div class="entry-title">Graduate Assistant</div>
            <div class="date">
                <span class="start">2018</span>
                <span class="end">2019</span>
            </div>
        </div>
        <div class="sub-title">Wright State University &ndash; Fairborn, OH</div>
        <p class="entry-desc">
            Coordinated logistical and operational support for three large undergraduate courses of over 200 total
            students through managing and organizing course materials, organizing and grading assessments, and
            providing support and advice to students during office hours.
        </p>
        <p class="entry-desc">
            Dynamically collaborated with faculty and departmental staff to proactively diagnose, mitigate, and
            implement adaptive solutions to ensure the continuing operation of multiple classes and other
            departmental responsibilities during a period of intense and unprecedented challenge for the university,
            a faculty strike.
        </p>
    </div>
    <!-- * Entry 3 -->
    <div class="experience-entry">
        <div class="entry-info">
            <div class="entry-title">Assistant-Director of Communication</div>
            <div class="date">
                <span class="start">2014</span>
                <span class="end">2015</span>
            </div>
        </div>
        <div class="sub-title">Cedar Apartments Student Association &ndash; University of Washington, Seattle, WA</div>
        <p class="entry-desc">
            Created all official communications to 300+ residents, delivering key information and
            fostering community engagement.
        </p>
    </div>
</div>