<div class="experience-block outer-shell">
    <!-- * Professional Background Section -->
    <div class="section-head">
        <h2 class="category-title"><a id="professional-background" href="#professional-background"
                class="anchor-link">Professional Background</a>
        </h2>
    </div>
    <!-- * Entry 1 -->
    <div class="experience-entry short-experience-entry">
        <div class="entry-info">
            <div class="entry-title">Project Manager</div>
            <div class="date">
                <span class="start">Jan. 2025</span>
                <span class="end">Present</span>
            </div>
        </div>
        <div class="sub-title">The Goodship Friendship</div>
        <div class="experience-buttons">
            <div>
                <a href="https://store.steampowered.com/app/2571840/Defense_of_Nations/" target="_blank"
                    class="experience-button">
                    <img class="main-icon" src="assets/svg/steam-brands-solid.svg">
                    <img class="hidden-icon" src="assets/svg/steam-symbol-brands.svg">
                    <span class="experience-button-text">Steam Demo</span>
                </a>
            </div>
        </div>
        <p class="entry-desc">
            Actively shaped team Agile planning and proactively collaborated on project design/content
            scope to establish achievable deadlines, manage project requirements, and enhance overall
            product quality.
        </p>
        <p class="entry-desc">
            Assisted in strategic project development by leading a comprehensive overhaul of the system's
            core balance, applying a methodical approach to data analysis and optimization to enhance
            system adaptability and future scalability.
        </p>
        <p class="entry-desc">
            Applied strong independent problem-solving skills to design, implement, and test complex new
            system features, mastering a complex new technical environment and contributing to overall
            project quality in less than three months.
        </p>
    </div>
    <!-- * Entry 2 -->
    <div class="experience-entry">
        <div class="entry-info">
            <div class="entry-title">Graduate Assistant</div>
            <div class="date">
                <span class="start">2018</span>
                <span class="end">2019</span>
            </div>
        </div>
        <div class="sub-title">Wright State University &ndash; Fairborn, OH</div>
        <p class="entry-desc">
            Coordinated logistical and operational support for three large undergraduate courses of over 200 total
            students through managing and organizing course materials, organizing and grading assessments, and
            providing support and advice to students during office hours.
        </p>
        <p class="entry-desc">
            Dynamically collaborated with faculty and departmental staff to proactively diagnose, mitigate, and
            implement adaptive solutions to ensure the continuing operation of multiple classes and other
            departmental responsibilities during a period of intense and unprecedented challenge for the university,
            a faculty strike.
        </p>
    </div>
    <!-- * Entry 3 -->
    <div class="experience-entry">
        <div class="entry-info">
            <div class="entry-title">Assistant-Director of Communication</div>
            <div class="date">
                <span class="start">2014</span>
                <span class="end">2015</span>
            </div>
        </div>
        <div class="sub-title">Cedar Apartments Student Association &ndash; University of Washington, Seattle, WA</div>
        <p class="entry-desc">
            Created all official communications to 300+ residents, delivering key information and
            fostering community engagement.
        </p>
    </div>
</div>