<div class="skill-set-block outer-shell">
    <!-- * Skill Set Section -->
    <div class="section-head">
        <h2 class="category-title"><a id="skill-set" href="#skill-set" class="anchor-link">Skill Set</a></h2>
    </div>
    <!-- * Entry 1 -->
    <div class="skill-set-entry">
        <div class="skill-category">Organization</div>
        <div class="skill-list">
            Agile Project Management, Time Management & Prioritization, Coordinating Resources, Documentation
        </div>
    </div>
    <!-- * Entry 2 -->
    <div class="skill-set-entry">
        <div class="skill-category">Communication</div>
        <div class="skill-list">
            Communication: Clear Communication, Cross-functional Collaboration, Facilitation, Team Coordination,
            Professional Writing
        </div>
    </div>
    <!-- * Entry 3 -->
    <div class="skill-set-entry">
        <div class="skill-category">Governance</div>
        <div class="skill-list">
            Process Improvement, Change Management, Impact Assessment, Risk Identification & Resolution,
            Systems Evaluation, Configuration Management
        </div>
    </div>
    <!-- * Entry 4 -->
    <div class="skill-set-entry">
        <div class="skill-category">Problem Solving</div>
        <div class="skill-list">
            Critical Thinking, Problem Identification & Resolution, Analytical Research, Problem Management
        </div>
    </div>
    <!-- * Entry 5 -->
    <div class="skill-set-entry">
        <div class="skill-category">Tech & Data</div>
        <div class="skill-list">
            Data Analysis & Interpretation, Data Management, Presentations, Database Proficiency (SQL), Office Suite
        </div>
    </div>
    <!-- * Entry 6 -->
    <div class="skill-set-entry">
        <div class="skill-category">Technical</div>
        <div class="skill-list">
            Software Development Life Cycle (SDLC), Git, Linux, Cloud Platforms (GCP), Data Reconciliation,
            Verification & Validation Testing
        </div>
    </div>
</div>