<div class="summary-block outer-shell">
    <!-- * Summary Section -->
    <h2 class="section-title">Summary</h2>
    <!-- * Entry 1 -->
    <div class="summary-entry">
        <p class="entry-desc">
            Results-driven professional with a Master's degree in history, skilled in organizing complex information
            and driving collaborative success. My academic background has honed my ability to analyze vast datasets,
            identify critical patterns, and communicate multifaceted findings clearly to diverse audiences.
        </p>
        <p class="entry-desc">
            I have a proven record of directing community projects from concept to completion, encompassing
            comprehensive resource planning (purchasing, budgeting, logistics), schedule coordination, and
            ensuring team safety. As a Project Manager, I jointly led agile planning for developing multiple systems,
            determining project scope, priority, and deadlines.
        </p>
        <p class="entry-desc">
            Eager to contribute my versatile expertise in data driven decision-making, systematic planning, and
            collaborative problem-solving to a dynamic cross-functional team.
        </p>
    </div>
</div>